.eggs
__pycache__
.pytest_cache/
.snakemake/
.idea/
.cache/
.keras/
.parallel/
.vscode/
._.DS_Store
.DS_Store
describe_workflow.rst
describe_jupyter_notebook.txt
twist_myelom
results/
vep_cache/
ref_data/
alignment/
annotation/
prealignment/
cnv_sv/
qc/
logs/
reports/
slurm/
snv_indels/
test_dataset/
modules/
data/
config/test_config.yaml
*.bam
*.xlsx
*.simg

# tmp files and scripts
*.vcf
*.log
*.tsv
test_report_script.py
count_reads.py
build_conda.sh
run_vep_simg.sh
copilot-instructions.md