.eggs
__pycache__
.snakemake/
.idea/
.cache/
.keras/
.parallel/
.vscode/
._.DS_Store
.DS_Store
describe_workflow.rst
describe_jupyter_notebook.txt
twist_myelom
results/
vep_cache/
ref_data/
alignment/
annotation/
prealignment/
cnv_sv/
qc/
logs/
reports/
slurm/
snv_indels/
test_dataset/
modules/
data/
config/test_config.yaml
*.bam