site_name: Twist_Myeloma
nav:
  - Overview:
    - Introduction: intro.md
    - Pipeline overview: overview.md
    - Result files: result_files.md
    - Pipeline setup and configuration: setup.md
    - Reference files: references.md
  - Running the pipeline:
    - Basic: running.md
  - Pipeline specific rules:
    - Rule list: softwares.md
  - Project info:
      - Citations: citations.md
      - Credits: credits.md
      - License: license.md

theme: readthedocs
extra_css: [extra.css]
markdown_extensions:
  - abbr
  - attr_list
  - pymdownx.details
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
      base_path: ["docs/", "workflow/rules/"]
      url_download: "True"
  - mdx_spanner
  - admonition
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg

plugins:
  - yaml-schema:
      yaml_files:
        - file: "workflow/schemas/config.schema.yaml"
          tag: "CONFIGSCHEMA"
        - file: "workflow/schemas/resources.schema.yaml"
          tag: "RESOURCESSCHEMA"
  - snakemake-rule:
      rule_folders:
        - 'workflow/rules'
      schemas:
        - 'workflow/schemas/rules.schema.yaml'