---
output: "config/output_files.yaml"
resources: "config/resources.yaml"
samples: "config/samples.tsv"
units: "config/units.tsv"

default_container: "docker://hydragenetics/common:0.1.9"

local_snakefile:
  cnv_sv: "/Users/andgu885/Documents/GitHub/hydra-genetics/cnv_sv/workflow/Snakefile"
  snv_indels: "/Users/andgu885/Documents/GitHub/hydra-genetics/snv_indels/workflow/Snakefile"

reference:
  fasta: "resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta"
  fai: "resources/resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta.fai"
  trf: "resources/human_GRCh38_no_alt_analysis_set.trf.bed"
  design_bed: "resources/panel64.add20.bed"

unit_bam: true

pbmarkdup:
  container: "docker://hydragenetics/pbmarkdup:1.1.0"

deepsomatic_tn:
  container: "docker://google/deepsomatic:1.8.0"
  extra: ""
  model: "PACBIO"

pbsv_call:
  container: "docker://hydragenetics/pbsv:2.9.0"
  reference: "resources/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta"
  extra: ""

pbsv_discover:
  container: "docker://hydragenetics/pbsv:2.9.0"
  trf: "resources/human_GRCh38_no_alt_analysis_set.trf.bed"
  extra: ""

hificnv:
  container: "docker://hydragenetics/hificnv:1.0.1"
  exclude: "resources/cnv.excluded_regions.common_50.hg38.bed.gz"
  extra: ""

snifffles2_call:
  container: "docker://hydragenetics/sniffles2:2.6.1"
  extra: ""

bcftools_filter_include_region:
  default_container: "docker://hydragenetics/common:3.1.1"
  panel: "resources/panel64.add20.bed"

multiqc:
  container: "docker://hydragenetics/multiqc:1.25.1"
  reports:
    DNA:
      included_unit_types: ['N', 'T']
      qc_files:
        - "qc/fastqc/{sample}_{type}_{flowcell}_{lane}_{barcode}_{read}_fastqc.zip"
        - "qc/picard_collect_alignment_summary_metrics/{sample}_{type}.alignment_summary_metrics.txt"
        - "qc/picard_collect_duplication_metrics/{sample}_{type}.duplication_metrics.txt"
        - "qc/picard_collect_gc_bias_metrics/{sample}_{type}.gc_bias.summary_metrics"
        - "qc/picard_collect_hs_metrics/{sample}_{type}.HsMetrics.txt"
        - "qc/picard_collect_insert_size_metrics/{sample}_{type}.insert_size_metrics.txt"
        - "qc/picard_collect_multiple_metrics/{sample}_{type}.{ext}"
        - "qc/picard_collect_wgs_metrics/{sample}_{type}.txt"
        - "qc/mosdepth/{sample}_{type}.mosdepth.summary.txt"
        - "qc/mosdepth_bed/{sample}_{type}.per-base.bed.gz"
        - "qc/samtools_stats/{sample}_{type}.samtools-stats.txt"
        - "prealignment/fastp_pe/{sample}_{type}_{flowcell}_{lane}_{barcode}_fastp.json"