---
output: "config/output_files.yaml"
resources: "config/resources.yaml"
samples: "config/samples.tsv"
units: "config/units.tsv"

default_container: "docker://hydragenetics/common:0.1.9"

multiqc:
  container: "docker://hydragenetics/multiqc:1.25.1"
  reports:
    DNA:
      included_unit_types: ['N', 'T']
      qc_files:
        - "qc/fastqc/{sample}_{type}_{flowcell}_{lane}_{barcode}_{read}_fastqc.zip"
        - "qc/picard_collect_alignment_summary_metrics/{sample}_{type}.alignment_summary_metrics.txt"
        - "qc/picard_collect_duplication_metrics/{sample}_{type}.duplication_metrics.txt"
        - "qc/picard_collect_gc_bias_metrics/{sample}_{type}.gc_bias.summary_metrics"
        - "qc/picard_collect_hs_metrics/{sample}_{type}.HsMetrics.txt"
        - "qc/picard_collect_insert_size_metrics/{sample}_{type}.insert_size_metrics.txt"
        - "qc/picard_collect_multiple_metrics/{sample}_{type}.{ext}"
        - "qc/picard_collect_wgs_metrics/{sample}_{type}.txt"
        - "qc/mosdepth/{sample}_{type}.mosdepth.summary.txt"
        - "qc/mosdepth_bed/{sample}_{type}.per-base.bed.gz"
        - "qc/samtools_stats/{sample}_{type}.samtools-stats.txt"
        - "prealignment/fastp_pe/{sample}_{type}_{flowcell}_{lane}_{barcode}_fastp.json"

reference:
  fasta: "resources/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  fai: "resources/"

bam_path: "/projects/wp2/nobackup/Twist_Myelom/Test_Analyses/pr_038/analysis/pr_038_001/renamed/"

pbmarkdup:
  container: "docker://hydragenetics/pbmarkdup:1.1.0"

deepsomatic_run_deepsomatic:
  container: "docker://google/deepsomatic:1.8.0"
  model: "PACBIO"

pbsv_call_structural_variants:
  container: "docker://hydragenetics/pbsv:2.9.0"
  trf: "resources/human_GRCh38_no_alt_analysis_set.trf.bed"
  reference: "resources/Homo_sapiens.GRCh38.dna.primary_assembly.fa"
  extra: ""