---
output: "config/output_files.yaml"
resources: "config/resources.yaml"
samples: "config/samples.tsv"
units: "config/units.tsv"

default_container: "docker://hydragenetics/common:3.1.1.1"

reference:
  fasta: "ref_data/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta"
  fai: "ref_data/GCA_000001405.15_GRCh38_no_alt_analysis_set.fasta.fai"
  trf: "ref_data/human_GRCh38_no_alt_analysis_set.trf.bed"
  # this bed file is ok to use for SNV calling
  design_bed: "ref_data/Myelom_expected_coverage_annotated_Oct2024.bed"
  # this one is ok for coverage analysis
  targets_bed: "ref_data/Target_bases_covered_by_probes_Scilifelab_Myeloma-v1_0p1X_LRTE-97588670_hg38.bed"

aligner: "pbmm2"
haplotagging: "whatshap"

clairs_to_call:
  container: "docker://hkubal/clairs-to:latest"
  extra: ""
  platform: "hifi_revio"

cnvkit_batch:
  container: "docker://hydragenetics/cnvkit:0.9.9"
  normal_reference: "../build_pon/results/cnvkit_build_normal_reference/cnvkit.PoN.cnn"
  method: "hybrid"

cnvkit_call:
  container: "docker://hydragenetics/cnvkit:0.9.9"
  extra: ""

cnvkit_vcf:
  container: "docker://hydragenetics/cnvkit:0.9.9"
  extra: ""

pbmarkdup:
  container: "docker://hydragenetics/pbmarkdup:1.1.0"
  extra: "--ignore-read-names"

pbmm2_index:
  container: "docker://hydragenetics/pbmm2:1.16"
  preset: "HIFI"
  extra: ""

pbmm2_align:
  container: "docker://hydragenetics/pbmm2:1.16"
  preset: "HIFI"
  extra: ""

pbmm2_merge:
  container: "docker://hydragenetics/pbmm2:1.16"

deepsomatic_t_only:
  container: "docker://google/deepsomatic:1.8.0"
  model: "PACBIO"
  #pon: "../build_pon/results/bcftools_merge/normal_db.vcf.gz"
  extra: ""

pbsv_call:
  container: "docker://hydragenetics/pbsv:2.9.0"
  extra: ""

pbsv_discover:
  container: "docker://hydragenetics/pbsv:2.9.0"
  trf: "ref_data/human_GRCh38_no_alt_analysis_set.trf.bed"
  extra: ""

hificnv:
  container: "docker://hydragenetics/hificnv:1.0.1"
  exclude: "ref_data/cnv.excluded_regions.common_50.hg38.bed"
  extra: ""

sniffles2_call:
  container: "docker://hydragenetics/sniffles2:2.6.1"
  extra: ""

vep:
  container: "docker://hydragenetics/vep:113.0"
  vep_cache: "/data/ref_genomes/VEP"
  mode: "--offline --cache "
  extra: " --assembly GRCh38 --check_existing --pick --cache_version 110 --plugin gnomAD"

filter_vcf:
  germline: "config/filters/config_hard_filter_germline_vep105.yaml"


whatshap_phase:
  container: "docker://hydragenetics/whatshap:2.2"
  extra: ""

whatshap_haplotag:
  container: "docker://hydragenetics/whatshap:2.2"
  extra: " --ignore-read-groups"

bcftools_filter_include_region:
  default_container: "docker://hydragenetics/common:3.1.1.1"
  panel: "ref_data/Myelom_expected_coverage_annotated_Oct2024.bed"

mosdepth_bed:
  container: "docker://hydragenetics/mosdepth:0.3.6"
  extra: ""

trimmer_software: "None"

general_report: "config/report.yaml"

svdb_merge:
  tc_method:
    - name: pathology
      cnv_caller:
        - cnvkit

cnv_html_report:
  show_table: true
  cytobands: false

multiqc:
  container: "docker://hydragenetics/multiqc:1.25.1"
  reports:
    DNA:
      included_unit_types: ['N', 'T']
      qc_files:
        - "qc/fastqc/{sample}_{type}_{flowcell}_{lane}_{barcode}_{read}_fastqc.zip"
        - "qc/picard_collect_alignment_summary_metrics/{sample}_{type}.alignment_summary_metrics.txt"
        - "qc/picard_collect_duplication_metrics/{sample}_{type}.duplication_metrics.txt"
        - "qc/picard_collect_gc_bias_metrics/{sample}_{type}.gc_bias.summary_metrics"
        - "qc/picard_collect_hs_metrics/{sample}_{type}.HsMetrics.txt"
        - "qc/picard_collect_insert_size_metrics/{sample}_{type}.insert_size_metrics.txt"
        - "qc/picard_collect_multiple_metrics/{sample}_{type}.{ext}"
        - "qc/picard_collect_wgs_metrics/{sample}_{type}.txt"
        - "qc/mosdepth/{sample}_{type}.mosdepth.summary.txt"
        - "qc/mosdepth_bed/{sample}_{type}.per-base.bed.gz"
        - "qc/samtools_stats/{sample}_{type}.samtools-stats.txt"
        - "prealignment/fastp_pe/{sample}_{type}_{flowcell}_{lane}_{barcode}_fastp.json"
